<ion-header class="ion-container ion-no-border">
  <ion-toolbar>
    <div class="toolbar-wrapper">
      <ion-buttons slot="start" class="ion-no-padding">
        <ion-button>
          <ion-icon color="primary" class="linkedin-logo" name="logo-linkedin"></ion-icon>
        </ion-button>
        <ion-searchbar color="tertiary" class="ion-hide-lg-down" placeholder="search"> </ion-searchbar>
      </ion-buttons>

      <ion-grid>
        <ion-row>
          <ion-col size="auto"></ion-col>
          <ion-col size="auto"></ion-col>
          <ion-col size="auto"></ion-col>
          <ion-col size="auto"></ion-col>
          <ion-col size="auto"></ion-col>
          <ion-col size="auto"></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>
